PORT=5000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/datadaddy
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

FAST2SMS_API_KEY=mock
FAST2SMS_ROUTE=q
FAST2SMS_SENDER_ID=TXTIND

RAZORPAY_KEY_ID=mock_key_id
RAZORPAY_KEY_SECRET=mock_key_secret
RAZORPAY_WEBHOOK_SECRET=mock_webhook_secret

# AWS S3 Storage
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET_NAME=your_s3_bucket_name
